.idea/
.env

#huggging face space
gitcity/

#local crash arifact
.hs_err_pid*.log

islamabad.csv
karachi.csv
lahore.csv

checkpoint_unified.json
eda_output/
hs_err_pid*.log
hs_err_pid2088.log

.cursor
__pycache__/
